#main_container {
 width: 100%;
 height: 100%;
}

#health_bar_container {
   width: 100%;
   /* height: 6vh; */
   display: flex;
   justify-content: space-between;
   /* background-color: black; */
   margin-top: 1.5%;
}

#player_info_container {
   display: flex;
   width: 100%;
   margin-left:40px;
   /* background-color: green */
}

#player_icon {
   width: 100px;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.678);
   border-radius: 5px;
}

#player_health_container {
   width: 35%;
   height: 30px;
   background-color: rgb(105, 105, 105);
   margin-left: 5px;
   border: 2px solid brown;
}

#boss_health_container {
   width: 45%;
   height: 30px;
   background-color: rgb(105, 105, 105);
   margin-right: 40px;
   border: 2px solid brown;
}

#player_health {
   width: 100%;
   height: 30px;
   background-color: rgb(175, 1, 1);
}

#boss_health {
   width: 100%;
   height: 30px;
   background-color: rgb(175, 1, 1);
}

#actions_container {

   border-radius: 10px;
   position: absolute;
   bottom: 16%;
   /* margin-bottom: 5%; */
   margin-left: 8%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.action_button {
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
   font-size: 30px;
}

.action_button:active {
   background-color: rgb(182, 182, 182);
}

#enemy {
   position: absolute;
   top: 1%;
   right: 3%;
}
#avatar {
   position: absolute;
   bottom: 15%;
   /* margin-bottom: 5%; */
   margin-left: 6%; 
}